<div style="margin: 0 auto;width: 1000px;">
	<h1 style="text-align:center">Welcome to {{ SITE_TITLE }}</h1>
	<a class="link" href="/whyuse">Read the introduction to find out why Kanji Web Easy differs from other websites</a><br /><br />
	This website does not come with translations. You should use plugins like <a class="link" href="http://www.polarcloud.com/rikaichan/">Rikai-chan</a> or <a class="link" href="https://chrome.google.com/webstore/detail/rikaikun/jipdnfibhldikgcjhfnomkfpcebammhp?hl=en">Rikai-kun</a> for translating words.<br />
	This website has no ads and is provided entirely for free.<br />
	<b>Firefox users: </b>Remember to download <a class="link" href="https://addons.mozilla.org/en-US/firefox/addon/html-ruby/">HTML Ruby</a> so that the furigana will render properly<br />
	<br />
	We hope to be your learning resource of choice.
</div>