<h1>Instructions</h1>
<ol>
<li>Help solve which kanji goes with which reading to improve the quality of the website!</li><br/>
<li>You will be given a reading to solve every time you visit this page</li><br/>
<li>Above you will be showed the furigana for the word. Below, you're given each kanji</li><br/>
<li>Associate which kanji goes with which reading by <span style="background-color:#C8DDFF;">highlighting</span> part of the furigana with your cursor</li><br/>
<li>If you make a mistake, you can use the back/next buttons to fix your input</li><br/>
<li>Once you're done, press submit</li><br/>
</ol>