<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="japanese,kanji,learn" />
		<meta name="description" content="Learn the Japanese required to read NHK Web Easy articles" />
		
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<title>{% block title %}{% endblock %} - {{ SITE_TITLE }}</title>
		{% block head_extra %}{% endblock %}
		
		<div id="header">
			{% include "bits/categories.html" %}
		</div>
	</head>
	<body>
		<section id="content">
			{% block content %}
			{% endblock %}
		</section>
		<footer id="footer">
			{% include "bits/footer.html" %}
		</footer>
	</body>
</html>
