<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="japanese,kanji,learn" />
		
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
		<title>{% block title %}{% endblock %} - {{ SITE_TITLE }}</title>
		{% block head_extra %}{% endblock %}
	</head>
	<body>
		<div id="header">
			{% include "bits/categories.html" %}
		</div>
		<div id="container">
			<section id="content">
				{% block content %}
				{% endblock %}
			</section>
		</div>
		<footer id="footer">
			{% include "bits/footer.html" %}
		</footer>
	</body>
</html>
