{% extends "_base.html" %}
{% block title %}All Kanji{% endblock %}
{% block content %}

<h2>Kanji</h2>

<div class="kanji">
	<p>{{ len(all_kanji) }} kanji listed</p>

	{% for x, kanji_info in enumerate(all_kanji) %}
		{% for percent in [0.25, 0.50, 0.75, 0.90, 0.95, 0.975, 0.99] %}
			{% if x > 0 and (running_total[x-1]/kanji_total) < percent and (running_total[x]/kanji_total) > percent %}
				<span style="clear: left; display: block; ">
				<br />
				<div style="text-align:center;"><i>Remaining {{'%.02f' % (100*(1-percent))}}%</i></div>
				<br />
				</span>
			{% endif %}
		{% endfor %}
        <div class="kanjibox">
            <a class="link" href="/kanji/{{kanji_info[0]}}">
                <span class="id">{{ x+1 }}</span>
                <span class="kanji">{{ kanji_info[0] }}</span>
                <div class="more">
                    <span class="count">{{ kanji_count[kanji_info[0]] }}</span>
                    <span class="freq">{{ '%.02f' % (100*(kanji_count[kanji_info[0]]/kanji_total)) }}%</span>
                </div>
        	</a>
        </div>
	{% endfor %}
</div>

{% endblock %}