{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Japanese Database</h1>

<p>Intro text here.</p>

<h2>Kanji</h2>
<ul class="kanji">
	{% for kanji, info in kanji_items %}
	<li><a href="{{ url_for('show_kanji', kanji=kanji) }}">{{ kanji }}</a> - {{ len(info.readings) }} readings</li>
	{% endfor %}
</ul>

<h2>Words</h2>
<ul class="words">
	{% for word in word_keys %}
	<li><a href="{{ url_for('show_word', word=word) }}">{{ word }}</a></li>
	{% endfor %}
</ul>

{% endblock %}