{% extends "_base.html" %}
{% block title %}Kanji: {{ kanji }}{% endblock %}
{% block head_extra %}<meta name="description" content="A list of kanji sorted by occurrence" />{% endblock %}
{% block content %}

<h1>Kanji: {{ kanji }}</h1>

Occurrences: {{ kanji_count }}
<font size="1">({{ '%.02f' % (100*(kanji_count/kanji_total)) }}%)</font>

<h2>Readings</h2>

{% for i, reading in enumerate(reading_map) %}
	<div class="wordbox">
		<span class="id">{{ i+1 }}</span>
		{% if reading[0] == 'Unknown' %}
			<span class="word"><a class ="link" href="/readingsolver">Unsolved</a></span>
		{% else %}
			<span class="word"><ruby>{{kanji}}<rp>(</rp><rt>{{ reading[0] }}</rt><rp>)</rp></ruby></span>
		{% endif %}
		<div class="more">
			<span class="count">{{reading[1]}}</span>
			<span class="freq">{{ '%.02f' % (100*(reading[1]/reading_count)) }}%</span>
		</div>
	</div>
	<span style="clear: left; display: block; "></span>
{% endfor %}



<h2>Words</h2>
<ul>
{% for x, word in enumerate(info.words) %}
	<div class="wordbox">
	<a class="link" href="{{ url_for('show_word', word=word) }}">
		<span class="id">{{ x+1 }}</span>
		<span class="word">{{ word }}</span>
		<div class="more">
			<span class="count">{{word_count[word]}}</span>
			<span class="freq">{{ '%.02f' % (100*(word_count[word]/usage_total)) }}%</span>
		</div>
		</a>
	</div>
{% endfor %}
{% if len(info.words) == 0 %}
	<li>None.</li>
{% endif %}
</ul>

{% endblock %}