{% extends "_base.html" %}
{% block title %}Kanji: {{ kanji }}{% endblock %}
{% block content %}

<h1>Kanji: {{ kanji }}</h1>

<h2>Readings</h2>
{% for reading, sources in info.readings.items() %}
	<h3>{{ reading }}</h3>
	<ul>
	{% for source in sources %}
		<li>{{ source }}</li>
	{% endfor %}
	</ul>
{% endfor %}
{% if len(info.readings) == 0 %}
	<p>None.</p>
{% endif %}

<h2>Words</h2>
<ul>
{% for x,(word) in enumerate(words) %}
	<div class="wordbox">
	<a class="link" href="{{ url_for('show_word', word=word) }}">
		<span class="id">{{ x+1 }}</span>
		<span class="word">{{ word }}</span>
		<div class="more">
			<span class="count">{{word_count[word]}}</span>
			<span class="freq">{{ '%.02f' % (100*(word_count[word]/usage_total)) }}</span>
		</div>
		</a>
	</div>
{% endfor %}
{% if len(words) == 0 %}
	<li>None.</li>
{% endif %}
</ul>

{% endblock %}