{% extends "_base.html" %}
{% block title %}Why Use KWB{% endblock %}
{% block content %}

<h1>How does Kanji Web Easy differ from other websites</h1>

Kanji Web Easy differs from other websites in that it focuses directly on helping its users be able to study Japanese in context.
Many websites and tools will try and help you study Japanese broadly without any clear goal in mind. 
Kanji Web Easy, on the other hand, will try and make your speed towards being able to read <a class="link" href="http://www3.nhk.or.jp/news/easy/index.html">NHK News Web Easy</a> articles.
This is done by crawling articles daily to extract <b>detailed</b> info about kanji and word usage.

<br /><br />To contrast Kanji Web Easy towards other study methods, consider these two user cases<br /> 

<div style="text-align: center"><b>Studying without Kanji Web Easy</b></div><br />
User Bob wants to learn Japanese, and needs to know more kanji to do so. He decides to look up his favorite kanji frequency list and sees something like this:<br />
<img src="/static/kanjilist.png"> <font size="1">Source: kanjicards.org</font><br />
This is essentially just one giant block of text and offers no real insight into how often each kanji is used other than they are "frequent".
Now, Bob wants to learn the kanji 生 which is listed as one of the top used kanji. Upon clicking on the kanji, he is greeted by something like this:<br />
<img src="/static/kanjireading.png"> <font size="1">Source: jisho.org</font><br />
Now that Bob is presented with a huge list on onyomi/kunyomi readings, Bob has to figure out which of them are actually used.
He goes into his dictionary of choice and looks up words that include 生 and finds this:<br />
<img src="/static/commonsearch.png"> <font size="1">Source: beta.jisho.org</font><br />
Bob is now overwhelmed by the 74 "common words" that include this kanji, and he has to filter through them all to find which onyomi they use to know which one he should learn.
While looking through the list of common words, Bob finds the word 生臭い but has doubts it is truly a common word. He can't imagine how it's used so he decides to look at example sentences in his dictionary.<br />
<img src="/static/sentence.png"> <font size="1">Source: tangorin.com</font><br />
Since Bob doens't find an example sentnece, he goes to another dictionary and again finds that 生臭い should be a common word, yet there are no example sentences.
This is because nearly all online dictionaries use Tatoeba.org for their example sentences and JDic for their dictionary, and therefore are all front-ends to the same information.
<br /><b>Bob has now spent much time consulting many different sources and still has no good grasp of 生.</b><br /> <br /> 


<div style="text-align: center"><b>Studying WITH Kanji Web Easy</b></div><br />
User Alice wants to learn some Japanese, and needs to know more kanji to do so. He decides to use Kanji Web Easy.<br />
Alice looks at <a class="link" href="/kanji/">the kanji list</a> and sees clearly how often each kanji is used both by count and percentage.<br />
Alice sees that the kanji <a class="link" href="/kanji/会">会</a> is very common, so she clicks on the kanji to know more about it.<br />
Instantly, Alice sees that the reading かい is the most common for the kanji, however other readings are also possible and worth knowing.<br />
Looking at the word list, Alice notices <a class="link" href="/word/会社">会社</a> is the must-know word for this kanji, but some of the other words may also be of interest.<br />
Alice further notices that every single word listed has at least one example sentence, taken from the NHK article it appeared in.<br />
Reading these gives Alice a better understanding of the kanji and how it is used.<br />
Later that day, Alice decides to read some Web Easy articles, and notices that the kanji and words she learned are included in the article.<br />
<b>Using KanjiWebEasy, Alice learned quickly, effectively and was able to see what she learned in context</b>

<span style="height: 250px; clear: left; display: block; "></span>

{% endblock %}