{% extends "_base.html" %}
{% block title %}Why Use KWB{% endblock %}
{% block content %}

<div style="margin: 0 auto;width: 1000px;">
	<h1 style="text-align: center">How does Kanji Web Easy differ from other websites</h1>

	Kanji Web Easy differs from other websites in that it focuses directly on helping its users be able to study Japanese in context.
	Many websites and tools will try and help you study Japanese broadly without any clear goal in mind. 
	Kanji Web Easy, on the other hand, will try and make your speed towards being able to read <a class="link" href="http://www3.nhk.or.jp/news/easy/index.html">NHK News Web Easy</a> articles.
	This is done by crawling articles daily to extract <b>detailed</b> info about kanji and word usage.


	<br /><br />To contrast Kanji Web Easy towards other study methods, consider these two user cases<br /> 

	<div style="text-align: center"><b>Studying without Kanji Web Easy</b></div><br />
	You want to learn Japanese, but need to know more kanji to do so. You decide to look up your favorite kanji frequency list and you see what is essentially just one giant block of text which offers no real insight into how often each kanji is used other than they are "frequent".<br />
	<div style="text-align:center;margin:25px">
		<img style="display: block;margin-left: auto;margin-right: auto;" src="/static/kanjilist.png"> <font size="1">Source: kanjicards.org</font>
	</div>
	Now, out of this list you want to learn the kanji 生, which is listed as one of the top used kanji. Upon clicking on the kanji, you're shown a large list of all possible readings the kanji could have, and given no information about which ones are actually used.<br />
	<div style="text-align:center;margin:25px">
		<img style="display: block;margin-left: auto;margin-right: auto;" src="/static/kanjireading.png"> <font size="1">Source: jisho.org</font>
	</div>
	Clearly it's unrealistic for you to learn all of this readings at once, so you try and figure out which are the most common by looking up the kanji in a dictionary.
	You do this by looking up words that include 生 and are marked as "common" by the dictionary. However, there are a lot of results, and all words are simply tagged "common", with no scale telling you what "common" really means. Clearly they do not all occur at the same frequency.<br />
	<div style="text-align:center;margin:25px">
		<img style="display: block;margin-left: auto;margin-right: auto;" src="/static/commonsearch.png"> <font size="1">Source: beta.jisho.org</font>
	</div>
	Overwhelmed by the large list, you go through it in your head counting occurrences of each reading to know which one he should learn.
	While looking through the list of common words, you find the word 生臭い, but you doubt it is truly a common word.
	Since you can't imagine how or when it's actually used, you decide to look at example sentences in the dictionary. Unfortunately, there are no results.<br />
	<div style="text-align:center;margin:25px">
		<img style="display: block;margin-left: auto;margin-right: auto;" src="/static/sentence.png"> <font size="1">Source: tangorin.com</font>
	</div>
	Discouraged, you go to a different dictionary and again find that 生臭い is listed as a common word, yet there are no example sentences.
	This is because nearly all online dictionaries use Tatoeba.org for their example sentences and JDic for their dictionary, and therefore are all front-ends to the same information.
	<br /><b>Without Kanji Web Easy, you've now spent much time consulting many different sources and still have no good grasp of 生.</b><br /> <br /> 


	<div style="text-align: center"><b>Studying WITH Kanji Web Easy</b></div><br />
	You want to learn some Japanese, and need to know more kanji to do so. You decide to use Kanji Web Easy. <br />
	Looking at <a class="link" href="/kanji/">the kanji list</a>, you can clearly see how often each kanji is used both by count and percentage.
	<br />
	You see that the kanji <a class="link" href="/kanji/会">会</a> is very common, so you click on the kanji to know more about it.	Instantly, you can tell that the reading かい is the most common for the kanji, however other readings are also possible and worth knowing.
	Looking at the word list, you notice <a class="link" href="/word/会社">会社</a> is the must-know word for this kanji, but some of the other words may also be of interest.
	You further notice that every single word listed has at least one example sentence, taken from the NHK article it appeared in. Reading these gives you a better understanding of the kanji and how it is used.
	<br />
	Later that day, you decide to read some Web Easy articles to try and learn in context, and you notice that the kanji and words you learned are included in the article.<br />
	<b>Using KanjiWebEasy, you've learned quickly, efficiently and built an intuitive understanding by learning in context</b>
</div>
<br /> <br /> 
<span style="height: 250px; clear: left; display: block; "></span>

{% endblock %}
