{% extends "_base.html" %}
{% block title %}Word: {{ word }}{% endblock %}
{% block content %}

<h1>Word: {{ word }}</h1>

{{ info.readings }}
{% for x, (reading, reading_data) in enumerate(info) %}
    <h2>{{ reading }}</h2>
		
    Reading: 
    {% for x, (furigana) in enumerate(reading_data.furigana) %}
        {% if reading_data.kanji[x] %}
            <ruby>{{reading_data.kanji[x]}}<rp>（</rp><rt>{{furigana}}</rt><rp>）</rp></ruby>{% else %}{{furigana}}
        {% endif %}
    {% endfor %}
    <br />
    
    Occurrences: {{word_count[reading]}} 
    <font size="1">({{ '%.02f' % (100*(word_count[reading]/word_usage_total)) }}%)</font>

    {% if class_map[reading_data.class] %}
        <br />
        Class: {{ class_map[reading_data.class] }}
    {% endif %}
    
    
    <br />
    Kanji:
	{% for x, kanji in enumerate(kanji_dict[reading]) %}
        <a class="link" href="{{ url_for('show_kanji', kanji=kanji) }}">{{ kanji }}</a>
	{% endfor %}
	{% if len(reading_data.kanji) == 1 and len(reading_data.kanji[0]) == 0 %}
		None
	{% endif %}
	
	<span style=" clear: left; display: block; "></span>
    <br />
    <b>Example sentences</b>
    <ol>
	{% for sentence in example_sentences[reading] %}
        <li>
		<p>{% for word in sentence %}
			{% if word[0]=='<b>' %}<b>{% elif word[0]=='</b>' %}</b>{% elif len(word) == 2 %}<ruby>{{ word[0] }}<rp>（</rp><rt>{{ word[1] }}</rt><rp>）</rp></ruby>{% elif len(word) == 1 %}{{ word[0] }}{% endif %}
		{% endfor %}
		</p>
        </li>
	{% endfor %}
    </ol>
{% endfor %}
{% endblock %}