/* ArataTori styles */

body {
	background-color: #FAFAFA;
	color: #555555;
	font-family: Meiryo;
}

div.clearfloat {
	clear: both;
}

/* Wordboxes */
.wordbox {
	float:left;
	margin-left:3px;
	margin-bottom: 10px;
	min-width: 575px;
	max-width: 575px;
	max-height: 35px;
	border: 2px solid gray;
	display: block;
}
.wordbox .link {
	text-decoration: none;
	color: #444444;
}
.wordbox .id {
	position: relative;
	left: 25px;
	font-size: 10px;
	vertical-align: text-top;
}
.wordbox .word {
	position: relative;
	left: 30px;
	font-size: 150%;
}
.wordbox .more {
	font-family: Monaco;
	float: right;
	position: relative;
	left: -50px;
	top: 4px;
	font-size: 75%;
	max-width: 0px;
}
.wordbox .count {
	width: 100px;
}
.wordbox .freq {
	width: 100px;
}

/* Kanjiboxes */
.kanjibox {
	float: left;
	margin: 1px;
	min-width: 175px;
	max-width: 175px;
	max-height: 70px;
	border: 4px solid gray;
	display: block;
}
.kanjibox .link {
	text-decoration: none;
	color: #444444;
}
.kanjibox .id {
	position: relative;
	left: 25px;
	font-size: 10px;
	vertical-align: text-top;
}
.kanjibox .kanji {
	position: relative;
	left: 30px;
	font-size: 300%;
}
.kanjibox .more {
	font-family: Monaco;
	position: relative;
	top: -50px;
	left: 105px;
	font-size: 75%;
	max-width: 0px;
}
.kanjibox .count {
	width: 100px;
}
.kanjibox .freq {
	width: 100px;
}

/* Hover tags */
.wordbox:hover {
	text-shadow: 0 0 0.1em #87F
}
.kanjibox:hover {
	text-shadow: 0 0 0.1em #87F
}