/* KanjiWebEasy styles */

html, body {
    background-color: #FAFAFA;
    color: #555555;
    font-family: Meiryo;
	height:100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -250px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer {
  height: 180px;
}

.link {
    text-decoration: none;
    color: #4F71CA;
}

ol {
    overflow: hidden;
    list-style: none outside none;
    padding: 0;
}

li {
  border-bottom: 1px solid #D7DFE4;
  overflow: hidden;
  vertical-align: top;
}

#header ol li {
	margin-right:20px;
    float: left;
}

/* Wordboxes */
.wordbox {
    float:left;
    margin-left:3px;
    margin-bottom: 10px;
    min-width: 575px;
	min-height: 35px;
    border: 2px solid gray;
    display: block;
}
.wordbox .link {
    text-decoration: none;
    color: #444444;
}
.wordbox .id {
	position:relative;
    margin-left:10px;
    font-size:10px;
    vertical-align: text-top;
}
.wordbox .word {
    font-size: 150%;
}
.wordbox .more {
    font-family: Monaco;
    float: right;
    position: relative;
    left: -50px;
    top: 4px;
    font-size: 75%;
    max-width: 0px;
}
.wordbox .count {
    width: 100px;
}
.wordbox .freq {
    width: 100px;
}

/* Kanjiboxes */
.kanjibox {
    float: left;
    margin: 1px;
    min-width: 175px;
    max-width: 175px;
    max-height: 70px;
    text-align:center;
    border: 4px solid gray;
}
.kanjibox .link {
    text-decoration: none;
    color: #444444;
}
.kanjibox .id {
  float:left;
  margin:3px;
    font-size: 10px;
    vertical-align: text-top;
}
.kanjibox .kanji {
  margin-right:40px;
    font-size: 300%;
}
.kanjibox .more {
  margin-left:20px;
    font-family: Monaco;
    font-size: 75%;
}
.kanjibox .count {
    width: 100px;
}
.kanjibox .freq {
    width: 100px;
}

.kanjibox .more {
    font-family: Monaco;
    position: relative;
    top: -50px;
    left: 105px;
    font-size: 75%;
    max-width: 0px;
}

/* Hover tags */
.wordbox:hover {
    text-shadow: 0 0 0.1em #f79731
}
.kanjibox:hover {
    text-shadow: 0 0 0.1em #f79731
}